<h1>Dragonball page</h1>
<hr>

<section class="row">
    <div class="col-12 col-sm-6">
       <h3>Agregar:</h3>
       <input type="text" class="form-control" placeholder="Nombre"/>
       <input type="number" class="form-control mt-2" placeholder="Poder"/>

       <button class="mt-2 btn btn-primary">agregar</button>
    </div>

    <div class="col-12 col-sm-6">
        <h3>Lista:</h3>
        <ol>
            <li></li>
        </ol>
        <!-- <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Poder</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let character of characters()">
                    <td>{{ character.name }}</td>
                    <td>{{ character.power }}</td>
                </tr>
            </tbody>
        </table> -->

    </div>
</section>